<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sisgtema sueldos - Justificativos de empleados</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<style>
  header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

div {
  padding-top: 10px;
  padding-bottom: 10px;
}
</style>
<body>

<header>
  <h1>Justificativos</h1>
</header>

<div class="container-sm">
  <a class="btn btn-primary" role="button">Ingresar justificativo</a>
</div>

<div class="container-sm">
  <table class="table table-dark table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Numero justificativo</th>
      <th>Aplica justificativo</th>
      <th>Id de asistencia</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="justificativo:${justificativos}">
      <td th:text="${justificativo.id}"></td>
      <td th:text="${justificativo.aplica}"></td>
      <td th:text="${justificativo.id_asistencia}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>